input[type="range"][orient="vertical"] {
  writing-mode: vertical-lr;
  direction: rtl;
  appearance: slider-vertical;
  width: 16px;
  vertical-align: bottom;
}

input[type="range"] {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Remove default styling */
  height: 50%; /* Adjust the height as needed */
  background: #f472b6 !important; /* Tailwind's pink-500 color */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency */
  transition: opacity 0.2s; /* Transition effect */
}
